<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgtec.zgrmc.dao.UmsAdminDAO">
  <select id="loadUserByUsername" resultType="com.zgtec.zgrmc.pojo.dto.RoleDTO">
      select  rr.id,rr.role_name  from  rmc_sys_role rr
      left join rmc_sys_user_role rsur on rsur.role_id=rr.id
      left join rmc_sys_user rsu on rsu.id= rsur.user_id
      <where>
          rsu.user_name=#{userName}
      </where>
  </select>
    <select id="queryUserDetail" resultType="com.zgtec.zgrmc.domain.UserDto">
        select id,user_name,password,status from ums_admin
        <where>
            user_name=#{userName}
        </where>
    </select>
    <delete id="deleteUser">
        delete from ums_admin
        <where>
            id #{id}
        </where>
    </delete>

    <insert id="saveAdminRoleRelation">
        insert into ums_admin_role_relation
        (admin_id,role_id)
        values
        <foreach collection="umsAdminRoleRelationParam" separator="," item="u" open="(" close=")">
            (#{u.adminId},#{u.roleId} )
        </foreach>
    </insert>
    <select id="getUserRole" resultType="java.lang.String">
        select CONCAT(ur.id,'_',ur.name) as roleName
        from  ums_role ur
        left join ums_admin_role_relation uarr on uarr.role_id=ur.id
        <where>
            uarr.admin_id=#{userId}
        </where>
    </select>
</mapper>